<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<clear />
    <!--<add key="opcua-preview" value="https://opcfoundation.pkgs.visualstudio.com/opcua-netstandard/_packaging/opcua-preview/nuget/v3/index.json" />-->
	<add key="OurThirdPartyLibs" value="E:\ThirdParty\NuGet\" />
  </packageSources>
  
<packageSourceMapping>
  <packageSource key="OurThirdPartyLibs">
    <package pattern="opcfoundation.*" />
  </packageSource>
</packageSourceMapping> 
</configuration>
